.type{
    color:red;
}
.type li {
    list-style: none;
}

.info{
    display: flex;
}

Route  {
    background-color: red;
}

section li {
    text-decoration: none;
}

link {
    text-decoration: none;
}