.type{
    color:red;
}
.type li {
    list-style: none;
}

Info{
    display: flex;
    text-decoration-color: red;
}

Route  {
    background-color: white;
}

section li {
    text-decoration: none;
}

link {
    text-decoration: none;
}